body {
  text-align: center;
  background-color: #252c6b;
  margin: 0;
  box-sizing: border-box;
}

.content>h1 {
  font-size: 2.5em;
  color: #ffffff;
}

.form>input {
  width: 20em;
  height: 2em;
  padding: 0.2em 1em;
  border: unset;
  border-radius: 0.5em;
}

.form>button {
  border: unset;
  border-radius: 0.5em;
  height: 2em;
  font-weight: bold;
  padding: 0.2em 1em;
  cursor: pointer;
}

.form>button:active {
  transform: translateY(4px);
}

.form>button:hover {
  background-color: #008000;
  color: #fff;
}

.search-item {
  background-color: #dde0e2d5;
  width: fit-content;
  margin: auto;
  height: 22em;
  padding: 0.5em 2em 0.5em 2em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  border-radius: 0.5em;
}

.search-item>h2 sup {
  background-color: #e9d30dea;
  font-size: 0.5em;
  padding: 0.2em;
  border-radius: 0.5em;
}

.search-item>strong {
  color: #008000;
}

.search-item>p {
  font-size: 4.5em;
  margin: 0.2em 0;
}

#weather-description {
  margin: 0.1em 0;
  font-weight: bold;
}

@media screen and (max-width: 375px) {	
  .form>button {
    margin: 0.5em 16em 0em 0em;
  }
}
