body {
  text-align: center;
  background-color: #252c6b;
  margin: 0;
  box-sizing: border-box;
}

.content>h1 {
  font-size: 2.5em;
  color: #ffffff;
}

.form>input {
  width: 20em;
  height: 2em;
  padding: 0.2em 1em;
  border: unset;
  border-radius: 0.5em;
}

.search-item {
  background-color: #dde0e2d5;
  width: 13em;
  margin: auto;
  height: 24em;
  padding: 0.5em 2em 1em 2em;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  border-radius: 0.5em;
  margin-bottom: 5em;
}

.search-item>h2 sup {
  background-color: #e9d30dea;
  font-size: 0.5em;
  padding: 0.2em;
  border-radius: 0.5em;
}

.search-item>strong {
  color: #008000;
}

.search-item>p {
  font-size: 4.5em;
  margin: 0.2em 0;
}

#weather-description {
  margin: 0.1em 0;
  font-weight: bold;
}

.error-message {
  color: #ff0000f6;
  font-weight: bold;
}

.weather-output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#delete-button {
  color: red;
  margin-left: 13em;
  font-weight: bold;
  padding: 0.5em 1em;
  border: unset;
  border-radius: 0.5em;
  cursor: pointer;
}

#delete-button:active {
  transform: translateY(4px);
}

.form>button {
  border: unset;
  border-radius: 0.5em;
  height: 2em;
  font-weight: bold;
  padding: 0.2em 1em;
  cursor: pointer;
}

.form>button:active {
  transform: translateY(4px);
}

.form>button:hover,
#delete-button:hover {
  background-color: #008000;
  color: #fff;
}

@media screen and (max-width: 768px) {	
  .weather-output {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {	
  .form>button {
    margin: 0.5em 16em 0em 0em;
  }

  .weather-output {
    display: block;
  }
}
